{% extends 'polls/layout.html' %}

{% block styles %}
    <style>
        .btn-twitch {
            background-color: #6441A5 !important;
            border-color: #6441A5 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ibox-content">
        <h2>Login to Vote</h2>
        <p></p>
        <hr>
        <a class="btn btn-primary block full-width m-b btn-twitch" href="{% url "social:begin" "twitch" %}">
            <i class="bi bi-twitch"></i> Login with Twitch
        </a>
        <hr>
    </div>
{% endblock %}
