<!-- polls/templates/retract_vote.html -->

{% extends "polls/generic_message.html" %}

{% block title %}Отменить голос?{% endblock %}
{% block icon %}⚠{% endblock %}
{% block icon_color %}#FFD700{% endblock %}
{% block message %}Отменить Ваше участие в голосовании "{{ poll.title }}"?{% endblock %}
{% block return %}<form method="POST" action="{% url 'poll_unvote' poll.id %}" > {% csrf_token %}<a href="#" onclick="$('form').submit()" class="btn btn-danger">Да</a><a href="{% url 'poll_list' %}" class="btn btn-secondary">Нет</a></form>{% endblock %}
{% block scripts %}{% endblock %}