<!-- polls/cast_vote.html -->

{% extends "polls/layout.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static "polls/addvote.js" %}"></script>
{% endblock %}

{% block styles %}
  <style>
    .card.excluded {
      filter: grayscale(100%);
    }

        /* Hide the original radio buttons */
    .star,
    .blackstar {
      display: none;
    }

        /* Default Unchecked state */
    label .bi {
      font-size: 24px;
      color: black;
      transition: color 0.3s ease, transform 0.3s ease;
    }

        /* Checked State */
    .star:checked+label .bi {
      color: #ffd700;
            /* Gold color */
      transform: scale(1.2);
    }

        /* Checked State for black star */
    .blackstar:checked+label .bi {
      color: black !important;
      transform: scale(1.2);
    }

        /* Smooth transition for class changes */
    .bi-star-fill {
      animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.8);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }

  </style>
{% endblock %}

{% block title %} {{ poll.title }} - GamePoll {% endblock %}

{% block content %}
  <form id="voteForm" method="post" action="{% url 'vote_add' poll_id=poll.id %}">
    {% csrf_token %}

    <!-- Game List -->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>{{ poll.title }}</h1>
        <hr/>
        <p>Упорядочите игры перетаскиванием за <i class="bi bi-list"></i>: чем выше в
          списке игра, тем интереснее вам её увидеть. Уберите галочку у тех игр, которые
            вам совершенно не интересны. </p>
          {% if is_sub %}<p>Вы можете увеличить вес вашего голоса за или против одной из игр активировав переключатель ⭐ рядом с этой игрой. </p>{% endif %}
        <p>Используйте переключатели 🦉, 🧀 и/или 🐝, если вам в принципе всё равно что
          смотреть.</p>
        <hr/>
        <div id="sortable-list">
          {% for game in poll.games.all %}
            <div class="card mb3"
                 data-game-id="{{ game.id }}">
              <div class="row g0">
                <div class="handle col-md-1 d-flex align-items-center"
                     style="width: unset !important; cursor: move;">
                  <i
                    class="bi bi-list"></i></div>
                <div class="col-md-8 d-flex align-items-center">
                  <div class="card-body">
                    <h5 class="card-title"><input
                      type="checkbox"
                      class="form-switch"
                      name="game_{{ game.id }}"
                      checked aria-label="Included"/> {% if is_sub %} <input type="radio" class="star" name="premium" id="premium{{ game.id }}"> <label for="premium{{ game.id }}"><i class="bi bi-star"></i></label> {% endif %} &nbsp; <a
                        href="{{ game.alt_url }}"
                        target="_blank">{{ game.name }}</a>
                    </h5>
                    <p class="card-text d-none d-md-block">{{ game.description }}</p>
                    <p class="card-text d-none d-md-block">Tags:
                      {% for tag in game.gametag_set.all %}
                        <span
                          class="badge rounded-pill bg-secondary">{{ tag.tag.name }}</span>
                      {% empty %}
                        No tags
                      {% endfor %}
                    </p>
                  </div>
                </div>
                <div class="col-md-2 align-items-center d-none d-md-flex"><img
                  src="{{ game.logo_url }}"
                  alt="{{ game.name }}"
                  class="img-fluid rounded-start" style="max-width: 184px;">
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if is_sub %}
          <div class="mt-2 ms-5">
            <input type="radio" class="blackstar" name="premium" id="premiumNone" checked> <label for="premiumNone"><i class="bi bi-star-fill"></i></label> Не использовать бонус
          </div>
        {% endif %}
        <div class="mt-2 ms-5">
          <!-- Emoji Checkboxes -->
          <div class="form-check form-switch form-check-inline me-5">
            <label class="form-check-label" style="font-size: 200%;"><input
              type="checkbox"
              name="owl_checkbox"
              class="form-check-input"/>
              🦉</label>
          </div>
          <div class="form-check form-switch form-check-inline mx-5">
            <label class="form-check-label" style="font-size: 200%;"><input
              type="checkbox"
              name="cheese_checkbox"
              class="form-check-input"/>
              🧀</label>
          </div>
          <div class="form-check form-switch form-check-inline ms-5">
            <label class="form-check-label" style="font-size: 200%;"><input
              type="checkbox"
              name="bee_checkbox"
              class="form-check-input"/>
              🐝</label>
          </div>
        </div>
        <br/>
        <div>
          <!-- Shuffle and Cast Buttons -->
          <button type="button" class="btn btn-warning" id="shuffleButton">
            Перемешать
          </button>
          <button type="submit" class="btn btn-primary" id="castVoteButton">
            Проголосовать
          </button>
          <button type="button" class="btn btn-secondary"
                  onclick="location.href='{% url 'poll_list' %}'">Отмена
          </button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", init_addvote);
  </script>
{% endblock %}
